
<% include ../partials/header %>

<div class="container">
     <header class="jumbotron">
         <div class="container">
            <h1><strong><i class="fab fa-asymmetrik"></i> Welcome to YelpCamp!</strong></h1>
            <p>View our hand-picked campground all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
                <a class="btn btn-info btn-lg" href="/campgrounds/mycampgrounds">View my campgrounds</a>
            </p>
         </div>
    </header>
    
   <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
           
                <div id="campgroundImage" class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= campground.image %>">
                    </div>
                    <div class="caption">
                        <h4 id="campgroundName"><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="ui inverted blue button small">More Info</a>
                    </p>
                </div>
           
        <% }) %>  
   </div>
</div>

<div class="container">
    <hr>
    <a class="btn btn-default" href="/campgrounds">Go back to home page</a>
</div>
   
<% include ../partials/footer %>